html, body {
	margin: 0;
	height: 100%;
}

.dark-mode {
  background-color: black;
  color: #e6e6e6;
}

body {
	background: linear-gradient(180deg, #f0e8e1 0%, #e3dbd5 100%);

	margin: 0;
	padding: 0;

	text-align: center;

	font-family: 'Roboto', sans-serif;
}
.dark-mode {
	background: linear-gradient(180deg, #181818 0%, #121212 100%);
}

*:focus {
    outline: none;
}

a.plain-anchor:link {
	text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
a.plain-anchor:visited {
	text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

#avatar {
	height: 75px;
	width: 75px;
}

#platform-icon {
	height: 20px;
	width: 20px;
}

#header {
	background-color: #2a4966;
	z-index: 1;
}
.dark-mode #header {
	background-color: #2b2b2b;
}

#banner {
	height: auto;
	width: auto;

	margin: 0;
	margin-left: 30px;
	padding: 0;
	padding-bottom: 10px;

	color: white;

	font-size: 50pt;

	z-index: 1;
}

.text {
	margin: 1vh;
	color: #0e1924;
	display: inline-block;
	text-align: center;
}
.dark-mode .text {
	color: #e6e6e6;
}
#date {
	font-size: 20pt;
}
#name {
	font-size: 20pt;
	text-align: center;
	text-decoration: underline;
}
#name:hover {
	color: #1d334a;
}
.dark-mode #name:hover {
	color: white;
}
#kd {
	font-size: 25pt;
}
#wl, #time-played {
	font-size: 18pt;
}
#comment {
	font-size: 15pt;
}

.back-button button {
	display: inline;
	color: #2a4966;
	border: none;
	outline: none;
  background-color: Transparent;
  cursor: pointer;
}
.back-button button:hover {
	border: none;
  color: #4273a1;
}
.dark-mode .back-button button {
	color: #e6e6e6;
}
.dark-mode .back-button button:hover {
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:hover,
.dark-mode input:-webkit-autofill:focus,
.dark-mode input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
}
.dark-mode input:-webkit-autofill {
  -webkit-text-fill-color: #e6e6e6 !important;
}
#username {
	border: 1px solid;
	border-radius: 2px 0 0 2px;
	border-color: #303030;
	margin-top: 30vh;
	width: 30%;
	height: 30px;
	font-size: 15pt;
}
.dark-mode #username {
	background-color: #121212;
}
#search {
	outline: none;
  background-color: Transparent;
  border: none;
  cursor: pointer;
}
#search:hover {
	border: none;
  color: white;
}
.dark-mode #search {
	color: #e6e6e6;
}
.dark-mode #search:hover {
  color: white;
}

#loader {
	margin-top: 25vh;
}

.platform-selector input {
  margin: 0;
	padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.playstation-network {
	background-image: url('images/psn.png');
}
.xbox-live {
	background-image: url('images/xbl.png');
}
.activision {
	background-image: url('images/atvi.png');
}
.battlenet {
	background-image: url('images/battlenet.png');
}
.dark-mode .battlenet {
	background-image: url('images/battlenet_dark_mode.png');
}

.platform-selector input:active +.platform {
	opacity: .9;
}
.platform-selector input:checked +.platform {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.platform {
	width: 50px;
	height: 50px;

	margin-top: 25px;
	margin-left: 10px;
	margin-right: 10px;

  background-size: contain;
  background-repeat: no-repeat;

	cursor: pointer;

  display: inline-block;

  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;

  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}
.platform:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* https://codepen.io/plavookac/pen/qomrMw */
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: #2c4d6b;
	z-index: 1;
}
.dark-mode #sidebarMenu {
	background: #2b2b2b;
}
.sidebarMenuInner {
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
	margin-top: 10px;
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.sidebarMenuInner p {
	margin: 0;
	display: inline-block;
}

/* https://codepen.io/garetmckinley/pen/YmxYZr */
.toggle-control {
  padding-left: 70px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
	-ms-user-select: none;
  user-select: none;
}
.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: #20C20E;
}
.toggle-control input:checked ~ .control:after {
  left: 30px;
}
.toggle-control .control {
	margin-left: 15px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 60px;
  border-radius: 17.5px;
  background-color: darkgray;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 4px;
  width: 22px;
  height: 22px;
  border-radius: 17.5px;
  background: white;
  -webkit-transition: left 0.15s ease-in;
  transition: left 0.15s ease-in;
}
.dark-mode-toggle {
	position: relative;
	display: inline-block;
}

@media screen and (max-width: 1000px) {
	#banner {
		padding-top: 15px;
		font-size: 25pt;
	}

	#username {
		height: 50px;
		width: 75%;
		font-size: 20pt;
	}

	.sidebarIconToggle {
		margin-top: 0;
	}

	#date, #name {
		font-size: 15pt;
	}
	#kd {
		font-size: 17pt;
	}
	#wl, #time-played {
		font-size: 13pt;
	}
	#comment {
		font-size: 12pt;
	}
}

@media screen and (max-width: 350px) {
	#banner {
		padding-top: 15px;
		font-size: 20pt;
	}
}
